.send-button {
  width: 40px;
  height: 40px;
  background: #5fa2e9;
  border: 2px solid white;
  margin-top: 2px;
}
.send-button:hover {
  background: #4a91db;
}

.user-send {
  max-width: 75%;
  background: #5fa2e9;
  color: white;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-end;
  text-align: left;
}

.chat-header {
  background: #0a2f57;
  color: white;
}
.bot-message {
  max-width: 75%;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  align-self: flex-start;
  border: 1px solid #ddd;
}
.chat-input {
  border: 2px solid #5fa2e9;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  /width: 100%;
}

.chat-input:focus {
  border-color: #4a91db;
  box-shadow: 0 0 5px rgba(95, 162, 233, 0.5);
}
